.position-setter {
  /* border: 1px solid red; */
  display: flex;
  width: 100vw;
  height: 100vh;
}

a {
  /* border: 1px solid; */
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: auto;
  font-size: 30px;
  padding: 5px 20px;
}

.bottom-down {
  margin: 0;
  position: absolute;
  right: 0px;
  top: 100%;
  background-color:black;
  height: 2px;
  width: 0px;
  z-index: -1;
  transition: ease 2s;
}

a:hover > .bottom-down {
  /* background-color: orangered; */
  width: 100%;
}

.left-top {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color:black;
  height: 2px;
  width: 0;
  z-index: -1;
  transition: ease 2s;
}

a:hover > .left-top {
  /* background-color: orangered; */
  width: 100%;
}

.right-top {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  height: 0;
  width: 3px;
  z-index: -1;
  transition: ease 2s;
}

a:hover > .right-top {
  /* width: 3px; */
  /* background-color: orangered; */
  height: 100%;
}

.left-bottom {
  margin: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color:black;
  height: 0;
  width: 3px;
  z-index: -1;
  transition: ease 2s;
}

a:hover > .left-bottom {
  /* background-color: orangered; */
  height: 100%;
}
